<!--
  - $implicit: item Implicit Context Variable
  - index: Số thứ tự của item hiện tại
  - count: độ dài của array
  - first: trả về true nếu item đó là item đầu tiên trong array
  - last: trả về true nếu item đó là item cuối cùng trong array
  - even: trả về true nếu item đó là item ở vị trí chẵn
  - odd: trả về true nếu item đó là item ở vị trí lẽ
-->

<ul>
  <ng-container *ngIf="users.length > 0; else noUser";>
    <li
      *ngFor="
        let u of users;
        index as idx;
        count as total;
        first as isFirst;
        last as isLast;
        even as isEven;
        odd as isOdd
      "
    >
      <span> {{ u.id }} - {{ u.name }} - {{ u.phone }} </span>
      <br />
      <span>at index {{ idx }} out of {{ total }}</span>
      <br />
      <span>I am {{ isEven ? "even" : "odd" }}</span>
      <br />
      <span *ngIf="isFirst">I am is First</span>
      <br />
      <span *ngIf="isLast">I am is Last</span>
      <br />
    </li>
  </ng-container>
  <ng-template #noUser>No Users</ng-template>
</ul>

<!-- <ul>
  <ng-template
    ngFor
    [ngForOf]="users"
    let-u
    let-idx="index"
    let-total="count"
    let-isFirst="first"
    let-isLast="last"
    let-isEven="even"
    let-isOdd="odd"
  >
    <li>
      <span> {{ u.id }} - {{ u.name }} - {{ u.phone }} </span>
      <br />
      <span>at index {{ idx }} out of {{ total }}</span>
      <br />
      <span>I am {{ isEven ? "even" : "odd" }}</span>
      <br />
      <span *ngIf="isFirst">I am is First</span>
      <br />
      <span *ngIf="isLast">I am is Last</span>
      <br />
    </li>
  </ng-template>
</ul> -->

<button *ngFor="let tag of tags; last as isLast" [class.right-margin]="!isLast">
  {{ tag }}
</button>
